# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
testapp-*.tar

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
.elixir_ls/build/test/lib/cowboy/ebin
.elixir_ls/build/test/lib/cowboy/mix.rebar.config
.elixir_ls/build/test/lib/cowboy/.mix/compile.fetch
.elixir_ls/build/test/lib/cowlib/ebin
.elixir_ls/build/test/lib/cowlib/include
.elixir_ls/build/test/lib/cowlib/mix.rebar.config
.elixir_ls/build/test/lib/cowlib/.mix/compile.fetch
.elixir_ls/build/test/lib/gettext/.mix/compile.elixir
.elixir_ls/build/test/lib/gettext/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/gettext/.mix/compile.erlang
.elixir_ls/build/test/lib/gettext/.mix/compile.fetch
.elixir_ls/build/test/lib/gettext/.mix/compile.xref
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Application.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Backend.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Compiler.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Error.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Extractor.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.ExtractorAgent.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Fuzzy.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Interpolation.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Merger.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.MissingBindingsError.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Plural.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.Plural.UnknownLocaleError.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.Parser.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.PluralTranslation.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.SyntaxError.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.Tokenizer.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.Translation.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Gettext.PO.Translations.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Mix.Tasks.Compile.Gettext.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Mix.Tasks.Gettext.Extract.beam
.elixir_ls/build/test/lib/gettext/ebin/Elixir.Mix.Tasks.Gettext.Merge.beam
.elixir_ls/build/test/lib/gettext/ebin/gettext_po_parser.beam
.elixir_ls/build/test/lib/gettext/ebin/gettext.app
.elixir_ls/build/test/lib/jason/.mix/compile.elixir
.elixir_ls/build/test/lib/jason/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/jason/.mix/compile.fetch
.elixir_ls/build/test/lib/jason/.mix/compile.xref
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Codegen.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.DecodeError.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Decoder.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Decoder.Unescape.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encode.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.EncodeError.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Any.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Atom.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.BitString.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Date.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.DateTime.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Decimal.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Float.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Integer.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Jason.Fragment.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.List.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Map.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.NaiveDateTime.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Encoder.Time.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Formatter.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Fragment.beam
.elixir_ls/build/test/lib/jason/ebin/Elixir.Jason.Helpers.beam
.elixir_ls/build/test/lib/jason/ebin/jason.app
.elixir_ls/build/test/lib/mime/priv
.elixir_ls/build/test/lib/mime/.mix/compile.elixir
.elixir_ls/build/test/lib/mime/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/mime/.mix/compile.fetch
.elixir_ls/build/test/lib/mime/.mix/compile.xref
.elixir_ls/build/test/lib/mime/ebin/Elixir.MIME.Application.beam
.elixir_ls/build/test/lib/mime/ebin/Elixir.MIME.beam
.elixir_ls/build/test/lib/mime/ebin/mime.app
.elixir_ls/build/test/lib/phoenix/priv
.elixir_ls/build/test/lib/phoenix/.mix/compile.elixir
.elixir_ls/build/test/lib/phoenix/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/phoenix/.mix/compile.fetch
.elixir_ls/build/test/lib/phoenix/.mix/compile.xref
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Phoenix.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Phoenix.Context.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Phoenix.Schema.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Compile.Phoenix.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Digest.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Digest.Clean.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Cert.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Channel.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Context.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Embedded.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Html.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Json.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Presence.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Schema.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Gen.Secret.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Routes.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Mix.Tasks.Phx.Server.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.ActionClauseError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Channel.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Channel.Server.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.ChannelTest.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.ChannelTest.NoopSerializer.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.CodeReloader.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.CodeReloader.Proxy.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.CodeReloader.Server.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Config.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.ConnTest.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Controller.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Controller.Pipeline.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Digester.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.Cowboy2Adapter.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.Cowboy2Handler.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.CowboyAdapter.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.CowboyWebSocket.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.Instrument.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.RenderErrors.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.Supervisor.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Endpoint.Watcher.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Logger.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.MissingParamError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Naming.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.NotAcceptableError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.Any.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.Atom.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.BitString.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.Integer.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Param.Map.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Presence.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.ConsoleFormatter.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.Helpers.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.NoRouteError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.Resource.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.Route.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Router.Scope.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.Broadcast.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.InvalidMessageError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.Message.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.PoolSupervisor.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.PoolSupervisor.WorkerSupervisor.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.Reply.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.Serializer.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.Transport.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.V1.JSONSerializer.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Socket.V2.JSONSerializer.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.EExEngine.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.Engine.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.ExsEngine.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.HTML.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Template.UndefinedError.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Token.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Transports.LongPoll.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Transports.LongPoll.Server.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Transports.LongPoll.Supervisor.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.Transports.WebSocket.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Phoenix.View.beam
.elixir_ls/build/test/lib/phoenix/ebin/Elixir.Plug.Exception.Phoenix.ActionClauseError.beam
.elixir_ls/build/test/lib/phoenix/ebin/phoenix.app
.elixir_ls/build/test/lib/phoenix_pubsub/.mix/compile.elixir
.elixir_ls/build/test/lib/phoenix_pubsub/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/phoenix_pubsub/.mix/compile.fetch
.elixir_ls/build/test/lib/phoenix_pubsub/.mix/compile.xref
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.BroadcastError.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.GC.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.Local.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.LocalSupervisor.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.PG2.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.PG2Server.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.PubSub.Supervisor.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.Clock.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.DeltaGeneration.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.Replica.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.Shard.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/Elixir.Phoenix.Tracker.State.beam
.elixir_ls/build/test/lib/phoenix_pubsub/ebin/phoenix_pubsub.app
.elixir_ls/build/test/lib/plug/.mix/compile.elixir
.elixir_ls/build/test/lib/plug/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/plug/.mix/compile.erlang
.elixir_ls/build/test/lib/plug/.mix/compile.fetch
.elixir_ls/build/test/lib/plug/.mix/compile.xref
.elixir_ls/build/test/lib/plug/ebin/Elixir.Collectable.Plug.Conn.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Inspect.Plug.Conn.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Adapters.Cowboy.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Adapters.Cowboy2.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Adapters.Test.Conn.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.BadRequestError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Builder.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Adapter.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.AlreadySentError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.CookieOverflowError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Cookies.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.InvalidHeaderError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.InvalidQueryError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.NotSentError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Query.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Status.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Unfetched.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.Utils.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Conn.WrapperError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.CSRFProtection.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.CSRFProtection.InvalidCrossOriginRequestError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.CSRFProtection.InvalidCSRFTokenError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Debugger.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.ErrorHandler.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Exception.Any.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Exception.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Head.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.HTML.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Logger.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.MethodOverride.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.MIME.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.BadEncodingError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.JSON.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.MULTIPART.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.ParseError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.RequestTooLargeError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.UnsupportedMediaTypeError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Parsers.URLENCODED.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.RequestId.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Router.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Router.InvalidSpecError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Router.Utils.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Session.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Session.COOKIE.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Session.ETS.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Session.Store.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.SSL.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Static.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Static.InvalidPathError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Supervisor.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Telemetry.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Test.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.TimeoutError.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.Upload.beam
.elixir_ls/build/test/lib/plug/ebin/Elixir.Plug.UploadError.beam
.elixir_ls/build/test/lib/plug/ebin/plug_multipart.beam
.elixir_ls/build/test/lib/plug/ebin/plug.app
.elixir_ls/build/test/lib/plug_cowboy/.mix/compile.elixir
.elixir_ls/build/test/lib/plug_cowboy/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/plug_cowboy/.mix/compile.fetch
.elixir_ls/build/test/lib/plug_cowboy/.mix/compile.xref
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.Conn.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.Drainer.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.Handler.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.Stream.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/Elixir.Plug.Cowboy.Translator.beam
.elixir_ls/build/test/lib/plug_cowboy/ebin/plug_cowboy.app
.elixir_ls/build/test/lib/plug_crypto/.mix/compile.elixir
.elixir_ls/build/test/lib/plug_crypto/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/plug_crypto/.mix/compile.fetch
.elixir_ls/build/test/lib/plug_crypto/.mix/compile.xref
.elixir_ls/build/test/lib/plug_crypto/ebin/Elixir.Plug.Crypto.beam
.elixir_ls/build/test/lib/plug_crypto/ebin/Elixir.Plug.Crypto.KeyGenerator.beam
.elixir_ls/build/test/lib/plug_crypto/ebin/Elixir.Plug.Crypto.MessageEncryptor.beam
.elixir_ls/build/test/lib/plug_crypto/ebin/Elixir.Plug.Crypto.MessageVerifier.beam
.elixir_ls/build/test/lib/plug_crypto/ebin/plug_crypto.app
.elixir_ls/build/test/lib/ranch/ebin
.elixir_ls/build/test/lib/ranch/mix.rebar.config
.elixir_ls/build/test/lib/ranch/.mix/compile.fetch
.elixir_ls/build/test/lib/redix/.mix/compile.elixir
.elixir_ls/build/test/lib/redix/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/redix/.mix/compile.fetch
.elixir_ls/build/test/lib/redix/.mix/compile.xref
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Connection.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.ConnectionError.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Connector.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Error.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Protocol.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Protocol.ParseError.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.PubSub.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.PubSub.Connection.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.SocketOwner.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.StartOptions.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.Telemetry.beam
.elixir_ls/build/test/lib/redix/ebin/Elixir.Redix.URI.beam
.elixir_ls/build/test/lib/redix/ebin/redix.app
.elixir_ls/build/test/lib/telemetry/ebin
.elixir_ls/build/test/lib/telemetry/mix.rebar.config
.elixir_ls/build/test/lib/telemetry/.mix/compile.fetch
.elixir_ls/build/test/lib/testapp/.compile_priv_gettext
.elixir_ls/build/test/lib/testapp/priv
.elixir_ls/build/test/lib/testapp/.mix/cached_dot_formatter
.elixir_ls/build/test/lib/testapp/.mix/compile.elixir
.elixir_ls/build/test/lib/testapp/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/testapp/.mix/compile.lock
.elixir_ls/build/test/lib/testapp/.mix/compile.protocols
.elixir_ls/build/test/lib/testapp/.mix/compile.xref
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Collectable.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Enumerable.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.IEx.Info.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Inspect.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Jason.Encoder.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.List.Chars.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Phoenix.Param.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.Plug.Exception.beam
.elixir_ls/build/test/lib/testapp/consolidated/Elixir.String.Chars.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.Testapp.Application.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.Testapp.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.ChannelCase.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.ConnCase.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.Endpoint.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.ErrorHelpers.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.ErrorView.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.Gettext.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.Router.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.Router.Helpers.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.UserSocket.beam
.elixir_ls/build/test/lib/testapp/ebin/Elixir.TestappWeb.VisitController.beam
.elixir_ls/build/test/lib/testapp/ebin/testapp.app
